h1 {
    color:fuchsia;
}
h2 {
    color:fuchsia;
}
h3 {
    color:fuchsia;
}
p {
    color: deeppink;
}
a {
    color:deeppink;
}
body {
    color:deeppink; 
    background: peachpuff;
}
#recipes { 
    border: solid 1px blueviolet;
}
#error {
    border: solid 20px red;
}